<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCMii - An ASCII art saver!</title>
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono&display=swap" rel="stylesheet">
    
    <!-- Local CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="normal">
    <section class="gallery">
        
        <form action="/logout">
            <button type="submit">Log out</button>
        </form>
        <h1>
            <%= user.userName %> has some art to show
        </h1>
        <ul>
            <% asciis.forEach( el=> { %>
                <li class='asciiCanvas' data-id='<%=el._id%>'>
                    <!-- regex removes ANSI chars from saved ASCII -->
                    <pre
                        class='canvas'><%= el.ascii.replace(/[\u001b\u009b][[()#;?]*(?:[0-9]{1,4}(?:;[0-9]{0,4})*)?[0-9A-ORZcf-nqry=><]/g, '') %></pre>
                    <ul>
                        <li><button class='del'>Delete</button></li>
                        <li><button class='copy'>Copy ASCII</button></li>
                    </ul>
                </li>
                <% }) %>
        </ul>
    </section>

    <form action="/asciis/createAscii" method='POST'>
        <p>Enter a link to an image to generate Ascii art - or just make a note.</p>
        <!-- <input type="text" placeholder="Enter Ascii art" name='asciiArt'> -->
        <textarea rows="5" cols="60" name="asciiArt" placeholder="Enter ASCII art"></textarea>
        <input type="submit" value="Record New ASCII">
    </form>

    <ul class="colors">
        <li>Change Color Mode:</li>
        <li class="darkBtn">Dark</li>
        <li class="matrixBtn">Hacker</li>
        <li class="normalBtn">Normal</li>
    </ul>

    <a href="/logout">Logout</a>


    <!-- Local JavaScript -->
    <script src="js/main.js"></script>

</body>
</html>

<!-- TODO -->
<!--
    - Use CSS Boostrap for full width fluid containers.
    - Set the last ul element within CSS Flexbox. (flex-row for monitors, flex-column for tablets and phones)

    - Potentially move ASCII art within CSS Boostrap fluid containers?
        - containers might expand to original size as is now. (overflow past the size of mobile screens)
        - ASCII might warp and break if the container is rigid for mobile devices 
-->
