<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCMii - An ASCII art saver!</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono&display=swap" rel="stylesheet">
    
    <!-- Local CSS -->
    <link rel="stylesheet" href="css/loginStyle.css">
</head>
<body>
    <!-- Header Text -->
    <h1>Generate and Store Your Own ASCII Art!</h1>

    <!-- !!! <pre tag> DO NOT change the spacing within the pre tag! White space is preserved !!! -->
    <pre class='canvas'>         /^\    /^\
        {  O}  {  O}
         \ /    \ /
         //     //       _------_
        //     //     ./~        ~-_
       / ~----~/     /              \
     /         :   ./       _---_    ~-
    |  \________) :       /~     ~\   |
    |        /    |      |  :~~\  |   |
    |       |     |      |  \___-~    |
    |        \ __/`^\______\.        ./
     \                     ~-______-~\.
     .|                                ~-_
    /_____________________________________~~____</pre>

    <ul>
        <li>
            <a href="/login"> Login</a>
        </li>
        <li>
            <a href="/signup"> Signup</a>
        </li>
    </ul>

</body>
</html>

<!-- TODO -->
<!--
    - Use CSS Boostrap for full width fluid containers.
    - Set the login / signup box within a CSS Flex container.
-->
