h1{
    color:crimson;
    font-size: 3em;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

body section > form {
    margin: 10px;
}

body form *,body ul, body button {
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

ul {
    padding-left: 0px;
}

.asciiCanvas {
    margin: 20px auto;
}


.asciiCanvas ul {
    display: flex;
    align-items: flex-start;
}

button {
    cursor: pointer;
    padding: 12px 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
}

pre {
    overflow-x: scroll;
}

.gallery{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery > ul {
    max-width: 85%;
}

ul li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
form{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form input{
    margin: 1rem;
}
.colors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.colors li{
    padding: .25rem .5rem;
    border: 2px solid;
    margin: 0 2rem;
}
.colors li:first-child{
    padding: 0;
    border: 0;
    margin: 0;
}
.darkBtn{
    background-color: black;
    color: lightgray;
    border-color: lightgray;
}
.matrixBtn{
    background-color: black;
    color: green;
    border-color: green;
}
.normalBtn{
    background-color: white;
    color: black;
    border-color: black;
}

.canvas{
    border: solid 1px rgba(0,0,0,0);
    width: 100%;
    padding: 2%;
}


/* -------------------Color schemes */
body.normal {
    background-color: white;
    color: black;
}
.normal h1 {
    color: crimson;
}
.normal textarea {
    background-color: white;
    color: black;
}
.normal pre {
    background-color: rgb(247, 248, 251);
}


body.dark{
    background-color: black;
    color: lightgray;
}
.dark h1 {
    color: white;
}
.dark textarea {
    background-color: black;
    color: white;
}
.dark pre {
    background-color: rgb(12, 12, 18);
}


body.matrix {
    background-color: black;
    color: green;
}
.matrix h1 {
    color: green;
}
.matrix textarea {
    background-color: black;
    color: green;
}
.matrix pre {
    background-color: rgb(12, 15, 18);
}